body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.orange-color{
    color:orange;
}


.flexible-container{
    display:flex;
    margin-bottom: 100px;
}

p{
    margin-bottom: 50px;
}

.half-width{
    width: 50%;
    padding-left: 10%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding:10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}


.half-width img{
    height: 700px;
}

.top-banner{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
    
}

.dream-big{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item{
    width:40%;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 40px;
    box-shadow: 10px 10px 40px gray;
}

.experience-area{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: 200px ;
    background-position-x: 10px ;
}

#exerience-item-right{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan) 30;
    
}

#experince-item-left{
border-left: 10px solid #F87A61;
}

footer p{
    text-align: center;
}